.texto-menor {
    font-size: 13px;
}


.color-verde {
    color: #DAFF01;
}

.botao-lilas {
    padding: 9px 16px 9px 16px;
    background-color: #9353FF;
    color: #ffffff;
    border: none;
    border-radius: 0;
}

.divs-facilidades {
    width: 325px;
}

.div-novidades {
    width: 325px;
}
.posicao{
    top: 40%;
}


@media(max-width: 767px){
    .posicao{
        top:60%;
    }
}